body {
  background-color: white;
  margin: 100px;
}

/* button:hover {
    padding: 5px;
    color: #fff;
    background-color: rgb(71, 104, 174);
    border: 2px solid #fff;
    border-radius: 5px;
} */
